/*  your css code here. If applicable */
body{
	background-color:rgb(135, 206, 235);
}
p:first-child{
	color:white;
	background-color:black;
}
p:nth-child{
	
}
p:last-child{
	color:red;	
}
li{
	background:gray;
	width:50%;
	padding:10px;
}
li:nth-child(odd){
	background:white;
	font-size:22px;
}
li:nth-child(3){
	background:none;
	background:pink;
	font-size:normal;
	font-size:15px;

}